USE [StockDB-Basem]
GO
/****** Object:  Table [dbo].[CustomersInfo]    Script Date: 4/12/2021 4:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomersInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerNo] [varchar](50) NULL,
 CONSTRAINT [PK_CustomersInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
