USE [StockDB-Basem]
GO
/****** Object:  Table [dbo].[DailyClose]    Script Date: 2021/08/04 4:55:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyClose](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NULL,
	[amount] [float] NULL,
 CONSTRAINT [PK_DailyClose] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DailyClose] ON 

INSERT [dbo].[DailyClose] ([id], [date], [amount]) VALUES (1, CAST(N'2021-08-03T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[DailyClose] ([id], [date], [amount]) VALUES (2, CAST(N'2021-08-04T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[DailyClose] ([id], [date], [amount]) VALUES (3, CAST(N'2021-08-05T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[DailyClose] OFF
