<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExchangeVB.My.MySettings.ExchangeDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=StockDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ExchangeVB.My.MySettings.StockDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=StockDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
